{
    "semi": false,
    "singleQuote": true,
    "arrowParens": "avoid",
    "trailingComma": "none",
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "endOfLine": "lf",
    "vueIndentScriptAndStyle": true,
    "overrides": [
        {
            "files": "*.vue",
            "options": {
                "parser": "vue"
            }
        }
    ]
}
